In [1]:
import pandas as pd
data=pd.read_excel("Online Retail.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [2]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

start_date = '2011-09-01'
end_date = '2011-11-30'

subset_data = data[(data['InvoiceDate'] >= start_date) & (data['InvoiceDate'] <= end_date)]
print(subset_data)

       InvoiceNo StockCode                        Description  Quantity  \
320705    565080     20677                 PINK POLKADOT BOWL         8
320706    565080     22128         PARTY CONES CANDY ASSORTED        24
320707    565081     21067                                NaN         1
320708    565082     22423           REGENCY CAKESTAND 3 TIER         2
320709    565082    15060B         FAIRY CAKE DESIGN UMBRELLA         8
...          ...       ...                                ...       ...
512925    579520     22229  BUNNY WOODEN PAINTED WITH FLOWER          1
512926    579520     23344          JUMBO BAG 50'S CHRISTMAS          1
512927   C579521     22307   GOLD MUG BONE CHINA TREE OF LIFE        -6
512928   C579521     21843           RED RETROSPOT CAKE STAND        -1
512929   C579521     22840         ROUND CAKE TIN VINTAGE RED        -1

               InvoiceDate  UnitPrice  CustomerID         Country
320705 2011-09-01 08:25:00       1.25     13509.0  United Kingdom
320706 2011-09-01 08:25:00       1.25     13509.0  United Kingdom
320707 2011-09-01 09:03:00       0.00         NaN  United Kingdom
320708 2011-09-01 09:15:00      12.75     13305.0  United Kingdom
320709 2011-09-01 09:15:00       3.75     13305.0  United Kingdom
...                    ...        ...         ...             ...
512925 2011-11-29 18:14:00       0.39     12748.0  United Kingdom
512926 2011-11-29 18:14:00       2.08     12748.0  United Kingdom
512927 2011-11-29 18:19:00       1.06     12748.0  United Kingdom
512928 2011-11-29 18:19:00      10.95     12748.0  United Kingdom
512929 2011-11-29 18:19:00       7.95     12748.0  United Kingdom

[192225 rows x 8 columns]

In [ ]:
filtered_data = transactions[(transactions['InvoiceDate'] >= start_date) & (transactions['InvoiceDate'] <= end_date)]

# Group transactions by InvoiceNo and aggregate StockCodes as a list
invoice_data = filtered_transactions.groupby('InvoiceNo')['StockCode'].apply(list).reset_index()

# Rename the columns to match the desired output
invoice_data.columns = ['InvoiceNo', 'StockCodes']

# Print the resulting DataFrame
print(invoice_data)